<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.batcat"
	android:versionCode="279"
	android:versionName="1.9.9.7"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="22"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
		<uses-permission       android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
	<uses-permission 
	android:name="android.launcher.permission.INSTALL_SHORTCUT"/>
	<uses-permission 
	 android:name="android.permission.CLEAR_APP_CACHE"/>
	<uses-permission 
	 android:name="android.permission.GET_PACKAGE_SIZE"/>
	<uses-permission 
	 android:name="android.permission.GET_TASKS"/>
	<uses-permission
	  android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission
	  android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission
	  android:name="android.permission.WRITE_SECURE_SETTINGS"/>
	<uses-permission
	 android:name="android.permission.PACKAGE_USAGE_STATS"/>
	<uses-permission
	  android:name="android.permission.BATTERY_STATS"/>
	<uses-permission
	  android:name="android.permission.MODIFY_PHONE_STATE"/>
	<uses-permission
	  android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission
	  android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
	<uses-permission
	  android:name="android.permission.SET_ALWAYS_FINISH"/>
	<uses-permssion
	  android:name="android.permission.UPDATE_DEVICE_STATS"/>
	<uses-permission
	  android:name="android.permission.BIND_APPWIDGET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.REBOOT"/>
	<uses-permission android:name="android.permission.DUMP"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.BATTERY_STATS"/>
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
	<uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
	<uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<application
		android:icon="@drawable/icon"
		android:label="BaTT CaTT (1.9.9.7)"
		android:theme="@style/MyAppTheme">
		
		<service android:name="com.frozendevs.cache.cleaner.model.CleanerService"/>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="BaTT CaTT (1.9.9.7)"
			android:screenOrientation="portrait"
			android:excludeFromRecents="false">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".klo"
			android:label="BaTT CaTT (1.9.9.7)"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".set2"
			android:label="BaTT CaTT (1.9.9.7)"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".settings"
			android:label="BaTT CaTT (1.9.9.7)"
			android:screenOrientation="portrait">
		</activity>
		<service android:name=".hw">
		</service>
		<receiver
			android:name=".hw$hw_BR"
			android:label="BATT-CaTT Widget">
			<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
			android:resource="@xml/hw_info" />
			
		</receiver>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
			<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<service android:name=".webhost">
		</service>
		<receiver android:name=".webhost$webhost_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".sys"
			android:label="BaTT CaTT (1.9.9.7)"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".cool"
			android:label="BaTT CaTT (1.9.9.7)"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".pman"
			android:label="BaTT CaTT (1.9.9.7)"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".wait"
			android:label="BaTT CaTT (1.9.9.7)"
			android:screenOrientation="portrait">
		</activity>
	</application>
</manifest>